<!-- views/admin-->

<div class="jumbotron">
  <h2>Admin Page</h2>
  <h3>Authorized Users</h3>
  <div>
  <table class="table">
      <thead>
          <th>id</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Email</th>
      </thead>
      <tbody>
      {{#authorized}}
          <tr>
              <td>{{id}}</td>
              <td>{{familyname}}</td>
              <td>{{givenname}}</td>
              <td>{{email}}</td>
              <td>
                  <form action='/api/users/{{id}}/del' method="POST">
                      <button type="submit" class="btn-danger btn-xs">Delete</button>
                  </form>
              </td>
          </tr>
      {{/authorized}}
      </tbody>
  </table>
  </div>
  
  <div>
      <form action="http://identiglass.quentinl.com:8080/api/users" method="POST">
          <div class="form-group">
              <label>Add Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter BU email">
          </div>
          <button type="submit" class="btn btn-primary btn-default" id="submit">Submit</button>
      </form>
  </div>

</div>

